apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    run: backend-service 
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    run: frontend-service 
spec:
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      nodePort: 30081
      protocol: TCP
  type: NodePort




      